html {
    background-color: #ffffff;
        background-color: #ffffff;
        font-family: Arial, sans-serif;

}

.bs {
    position: absolute;
    top: 35px;
    left: 38px;
    font-size: 58px;
    font-weight: bold;

}

#firstBlock {
    height: 285px;
}

.menu {
    display: flex;
    position: relative;
    top: -61px;
    left: 8px;
    justify-content: space-evenly;
    padding-left: 62px;
}

.lowerMenu {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    top: -42px;
    left: 3px;
}

select {
    width: 230px;
}

.top {
    width: 100%;
    height: 119px;
    border: 1px solid black;
    background-color: #9a7237;
    margin-bottom: 0px;
    margin-top: 0px;

}

.menuTape {
    width: 100%;
    height: 99px;
    margin-top: -1px;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.catButtons {
    width: 100%;
    height: 65px;
    border: 1px solid black;
    background-color: #e5e5e5;
    margin-top: -23px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
}

#secondBlock {
    width: 100%;
    background-color: #f7f7f7;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1px;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.databox {
    padding: 30px;
    background-color: #9a7237;
    margin: 50px;
    border: 1px solid rgb(0, 0, 0);
}

.euros {
    font-weight: bold;
    font-size: 46px;
}

.buttonsCenter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 40px;
}


button {
    margin: 20;
}

.paybox {
    width: 923px;
    height: 658px;
    border: 1px solid black;
    margin: 0 auto;
}
#thirdBlock {
    width: 100%;
    height: 78px;
    border: 1px solid black;
    background-color: #e5e5e5;
    margin-top: 0px;
    margin-bottom: 0px;
}

table {
    padding-left: 15px;
    padding-top: 30px;
}

.paytext {
    padding-left: 15px;
    padding-top: 57px;
    padding-bottom: 30px;
    font-weight: bold;
}

td {
    padding-left: 50px;
}

.paymethod {
    width: 15%
}

th {
    font-weight: normal;
}